<% if false %>
<h1>Signup</h1>
<form action="/@users" method="post" accept-charset="UTF-8" >
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">@username</label>
    <input type="text" name="@user[@username]" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="@user[email]" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="@user[password]" id="passowrd" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% end %>

<% if false %>
<h1>Signup</h1>
<%= form_tag @users_path do %>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">@username</label>
    <input type="text" name="@user[@username]" class="form-control" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="@user[email]" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="@user[password]" id="passowrd" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <input type="submit" value="Submit Post">
<% end %>
<% end %>

<h1>Edit</h1>

<%= form_with model: @users do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
     <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
     <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
 
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
     <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
